<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
  <div class="control-group">
    <div class="controls"><h3>Skills</h3></div>
    <%#= f.label 'Skills', for: :skills_list, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :skills_list %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.button "Update", class: 'btn' %>
    </div>
  </div>
<script>
$(function() {
    $("#user_skills_list").tagsManager({
        preventSubmitOnEnter: true,
        prefilled: <%= f.object.skills_list.to_json.html_safe %>,
        typeahead: true,
        typeaheadSource: <%= Skill.all.map(&:name).to_json.html_safe %>
    });
});
</script>
<% end %>
