<%= link_to "On Deck", root_path, :class => 'brand' %>
<ul class="nav">
  <li>
    <%= link_to "GitHub", 'https://github.com/rmg/on-deck' %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to current_user do %>
        <%= current_user.name %> (<%= current_user.status.to_s.titleize %>)
      <% end %>
    </li>
    <li>
      <%= link_to "Edit my Skills", edit_user_path(current_user) %>
    </li>
    <li>
      <%= link_to 'Logout', signout_path %>        
    </li>
  <% else %>
    <li>
      <%= link_to 'Login', signin_path %>  
    </li>
  <% end %>
</ul>
